<section id="contact" class="ContactContainer">
  <h2 class="Title">Contacto</h2>
  <p class="Subtitle">¿Tienes un proyecto en mente? ¡Hablemos!</p>
  <div class="Contact">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="Contact-Data">
        <div>
          <label for="name"> Nombre </label>
          <input
            id="name"
            name="name"
            formControlName="name"
            placeholder="Tu nombre" />
        </div>
        <div>
          <label for="email"> Email </label>
          <input
            id="email"
            name="email"
            type="email"
            formControlName="email"
            placeholder="tu@email.com" />
        </div>
      </div>

      <div class="Contact-Subject">
        <label for="subject"> Asunto </label>
        <input
          id="subject"
          name="subject"
          formControlName="subject"
          placeholder="Asunto del mensaje" />
      </div>

      <div class="Contact-Message">
        <label for="message"> Mensaje </label>
        <textarea
          id="message"
          name="message"
          formControlName="message"
          placeholder="Escribe tu mensaje aquí, minimo 5 caracteres..."></textarea>
      </div>

      <button type="submit" aria-label="Enviar mensaje" [disabled]="form.invalid">Enviar</button>
    </form>
  </div>
</section>
