<header class="header">
  <nav>
    <!-- Versión escritorio -->
    <div class="navBar">
      <!-- Logo y modo oscuro/claro -->
      <div class="left-section">
        <span routerLink="/" class="brand">JoseFlores</span>
      </div>
      <div class="desktop-nav">
        <a href="/">Inicio</a>
        <a href="#aboutMe">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#certificates">Certificados</a>
        <a href="#contact">Contacto</a>
      </div>
      <!-- Iconos derecha -->
      <div class="toggle">
        <app-toggle />
      </div>
      <!-- Versión móvil -->
      <div class="mobile-actions">
        <app-toggle />
        <button class="mobile-menu" (click)="toggleMobileMenu()">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
      </div>
    </div>

    <!-- Versión móvil -->
    <div class="mobile-menu-container" [class.active]="isMobileMenuOpen">
      <ul class="mobile-nav">
        <li>
          <a routerLink="/">Inicio</a>
        </li>
        <li>
          <a routerLink="/">Sobre mi</a>
        </li>
        <li>
          <a routerLink="/tienda">Experiencia</a>
        </li>
        <li>
          <a routerLink="/tienda">Proyectos</a>
        </li>
        <li>
          <a routerLink="/tienda">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
