<section
  id="hero"
  class="Hero">
  <div class="HeroContainer">
    <div class="HeroLeft">
      <h1>
        <span class="PrimarText">Desarrollador Fullstack</span>
        <span class="SecondaryText">Angular & .NET</span>
      </h1>
      <p>
        Construyo aplicaciones web robustas y escalables utilizando Angular en
        el frontend y C# con .NET en el backend. Especializado en crear
        experiencias de usuario excepcionales con soluciones técnicas sólidas.
      </p>
      <div class="ButtonsContainer">
        <button class="Button-Proyectos">Ver Proyectos</button>
        <button class="Button-Contacto">Contactar</button>
      </div>
    </div>
    <div class="HeroRight">
      <div
        class="BackgroundGlow"></div>
      <div
        class="ImageContainer">
        <img
          src=""
          alt=""
          priority />
      </div>
    </div>
  </div>
</section>
