<section id="hero" class="Hero">
  <div class="HeroContainer">
    <div class="HeroLeft">
      <h1>
        <span class="PrimarText">Desarrollador Fullstack</span>
        <span class="SecondaryText">Angular & Java</span>
      </h1>
      <p>
        Construyo aplicaciones web robustas y escalables utilizando Angular en
        el frontend y Java con Spring Boot 3 en el backend.
      </p>
      <div class="ButtonsContainer">
        <a type="button" class="Button-Proyectos" href="#projects"
          >Ver Proyectos</a
        >
        <a type="button" class="Button-Contacto" href="#contact">Contactar</a>
      </div>
    </div>
    <div class="HeroRight">
      <div class="BackgroundGlow"></div>
      <div class="ImageContainer">
        <img
          src="assets/images/Perfil.jpg"
          alt="José Flores - Desarrollador Fullstack"
          width="200px"
          height="200px" />
      </div>
    </div>
  </div>
</section>
